.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 255, 0.05);
}

.table-hover tbody tr:hover {
    color: #ff0000;
    background-color: rgb(255, 216, 0);
    border:10px dotted red;
}

.table-bordered {
    border: 5px double #6887ff;
}

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 10px;
    }